//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Thin.eot");
	src: local("☺"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype"),
	url("../fonts/Lato-Lato-Thin.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.eot");
	src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"),
	url("../fonts/Lato-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Medium.eot");
	src: local("☺"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"),
	url("../fonts/Lato-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Heavy.eot");
	src: local("☺"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"),
	url("../fonts/Lato-Heavy.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Noto Serif";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1440;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;  
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #161615;
	font-size: 18px;
	font-weight: 400;
	a {
		color: #161615;
	}
	&.lock {
		overflow: hidden;
	} 
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 66px;
	font-weight: bold;
	line-height: 65px;
	color: #fff;}
h2 {
	font-size: 36px;
	font-weight: bold;
	line-height: 46px;}
h3 {
	font-size: 26px;
	font-weight: bold;
	line-height: 28px;}
// h4 {
// 	font-size: 26px;
// 	font-weight: 500;
// 	line-height: 38px;}
//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// position: relative;
	&.loaded {
	}
}
.page {
	flex: 1 1 auto; 
	padding: 63px 0 120px 0;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width: $md1+px) {
	// 	// max-width: 970px;
	// 	padding: 0 10px;
	// }
	// @media (max-width: $md2+px) {
	// 	// max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	// max-width: none;
	// 	// padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
// @import "fancybox.min.scss";
// @import "pagging.scss";
//@import "icons.scss";
// @import "map.scss";
// @import "slider.scss";
// @import "cards.scss";
// @import "popup.scss";
@import "header.scss";
@import "footer.scss"; 
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================

.competence {
	padding: 0 0 35px 0;
}

.competence h2 {
	margin: 0 0 53px 62px;
}

.competence {

	&__row {
		justify-content: space-between;
	}

	&__person-img {
		flex: 0 1 616px;
		height: 370px;
		overflow: hidden;
		border-radius: 43px;
		box-shadow: 0px 25px 36px -35px #000000;
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__list-info {
		max-width: 768px;
		width: 100%;
		height: 370px;
    justify-content: space-between;
		flex-direction: column;
	}

	&__list-block {
		// flex-wrap: wrap;
		justify-content: space-between;
		// margin-bottom: 51px;
	}

	&__list-block-item {
		flex: 0 1 49%;
    min-height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background: #E8E8E8;
    padding: 10px 5px;
    border-radius: 20px;
    margin-bottom: 21px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		p {
			font-family: 'NotoSerif';
			font-size: 30px;
			line-height: 45px;
			margin-left: 60px;
		}
	}

	&__list-btn {
		
	}

	&__btn {
		width: 268px;
		margin-right: 58px;
		&:last-child {
			background: #FCA01F;
			margin-right: 0;
		}
	}
}
.list-block-icon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 27px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNi40NjUiIGhlaWdodD0iMjcuNDc0IiB2aWV3Qm94PSIwIDAgMjYuNDY1IDI3LjQ3NCI+DQogIDxwYXRoIGlkPSLQmtC+0L3RgtGD0YBfOSIgZGF0YS1uYW1lPSLQmtC+0L3RgtGD0YAgOSIgZD0iTTM1MzAuNDQyLDk0NS41NDh2LTkuODIxaC04LjgxMWExNy42NTQsMTcuNjU0LDAsMCwwLTE3LjY1NCwxNy42NTNWOTYzLjJoOC44MTJBMTcuNjUyLDE3LjY1MiwwLDAsMCwzNTMwLjQ0Miw5NDUuNTQ4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM1MDMuOTc3IC05MzUuNzI3KSIgZmlsbD0iIzY2OTgyNCIvPg0KPC9zdmc+DQo=');
}

.btn {
}

.competence__list-internal {
	flex: 0 1 370px;
	display: flex;
  flex-direction: column;
}
.competence__list-block-item_b {
	padding: 25px 5px;
}
//====================================================================================================================================================

.certificates {
	padding: 35px 0;
	&__row {
		justify-content: space-between;
		padding: 45px 108px 45px 62px;
		background: #669824;
		border-radius: 35px;
		overflow: hidden;
	}

	&__title-block {
		max-width: 265px;
		width: 100%;
		h2 {
			color: #fff;
			margin-bottom: 75px;
		}
	}

	&__btn {
		width: 255px;
		background: #fff;
		color: #161615;
		box-shadow: 0px 13px 12px -13px #000000;
	}

	&__img-block {
		max-width: 670px;
    width: 100%;
		justify-content: space-between;
	}

	&__img-1 {
		flex: 0 1 420px;
		height: 297px;
		overflow: hidden;
		margin-right: 10px;
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__img-2 {
		flex: 0 1 200px;
		height: 297px;
		overflow: hidden;
		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
//====================================================================================================================================================
.services {
	padding: 30px 0 47px 0;
}

.services__title-block {
	margin-bottom: 50px;
}

.services {

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__item-block {
		flex: 0 1 700px;
		overflow: hidden;
		border-radius: 20px;
		position: relative;
	}

	&__item-block-left {
		// position: absolute;
		max-width: 385px;
		width: 100%;
		height: 350px;
		transform-origin: 0% 95%;
		transform: skew(25deg);
		border-radius: 15px 15px 25px 15px;
		// border: 1px solid #000;
		overflow: hidden;
		img {
			max-width: 100%;
    	height: 100%;
			object-fit: cover;
			transform: rotate(0deg);
			transform: skew(-24.5deg);
			transform-origin: 0% 95%;
		}
	}

	&__item-block-right {
    width: 100%;
    height: 350px;
    transform-origin: 100% 0%;
    transform: skew(25deg);
    border-radius: 35px 15px 25px 15px;
		background: #E8E8E8;
    overflow: hidden;
    margin-left: -135px;
		// position: absolute;
		// top: 0;
		// right: -55px;
		// max-width: 450px;
		// width: 100%;
		// height: 350px;
		// transform-origin: 100% 35%;
		// transform: skew(25deg);
		// border-radius: 35px 15px 25px 15px;
		// overflow: hidden;
	}
}

.services__item-block-right-text {
	position: absolute;
	top: 0;
	left: 0;
	transform: skew(-23deg);
	padding: 30px 68px 45px 100px;
	h3 {
		margin-bottom: 25px;
	}
	p {
		line-height: 24px;
		margin-bottom: 46px;
	}
}

.services__item-btn {
	width: 200px;
	background: #FCA01F;
}


.question {
	padding: 42px 0 49px 0;
	background-image: url('../img/question-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	h2 {
		color: #fff;
		margin-bottom: 90px;
	}
	&__form {
		max-width: 827px;
    width: 100%;
	}

	&__form-block {
		justify-content: space-between;
		margin-bottom: 35px;
		p {
			max-width: 330px;
    	width: 100%;
    	font-size: 11px;
    	line-height: 18px;
   		margin-right: 105px;
			 position: relative;
			&:before {
				content: '*';
				position: absolute;
				top: 0;
				left: -10px;
			}
		}
		&:last-child {
			justify-content: start;
			margin-bottom: 0;
		}
	}

	&__form-block-input {
		max-width: 393px;
    width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	&__form-input {

	}

	&__form-textarea {
		max-width: 393px;
    width: 100%;
    height: 100px;
		border-radius: 25px;
	}

	&__btn {
		width: 268px;
		background: #FCA01F;
	}
}
//====================================================================================================================================================

.decision {
	padding: 62px 0 0 0;
	&__tilte-block {
		margin-bottom: 65px;
	}
}

.title-flex-block {
	h2 {
		line-height: 38px;
		margin-right: 58px;
	}
}


.decision__slider {
	position: relative;
}
.slider {
}

.decision__slider.slick-slider .slick-track {
	justify-content: space-between;
}

.decision__slider-item-body {
	max-width: 343px;
	width: 100%;
	/* height: 451px; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	border-radius: 20px;
}
.slider__item {
}
.decision__slider-item-img {
	flex: 0 1 343px;
	height: 300px;
	/* overflow: hidden; */
	margin-bottom: 10px;
	img {
		max-width: 100%;
		object-fit: cover;
		// height: 100%;
	}
}
.decision__slider-item-text {
	padding: 23px 59px 25px 26px;
	// min-height: 140px;
	height: 100%;
	background: #E8E8E8;
	p {
		font-size: 26px;
		line-height: 28px;
		font-weight: bold;
	}
}

.decision__slider .slick-arrow {
	position: absolute;
	top: 38%;
	z-index: 100;
	font-size: 0;
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #FCA01F;
}
.decision__slider .slick-arrow {
	position: absolute;
	top: 38%;
	z-index: 100;
	font-size: 0;
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #FCA01F;
	&::before {
		content: '';
		float: left;
		width: 11px;
		height: 25px;
		background-position: 0 0;
    background-repeat: no-repeat;
	}
}
.decision__slider .slick-prev {
	left: -8%;
	&:before {
  	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMS42ODQiIGhlaWdodD0iMjUuOTU0IiB2aWV3Qm94PSIwIDAgMTEuNjg0IDI1Ljk1NCI+DQogIDxnIGlkPSLQodCz0YDRg9C/0L/QuNGA0L7QstCw0YLRjF8xOSIgZGF0YS1uYW1lPSLQodCz0YDRg9C/0L/QuNGA0L7QstCw0YLRjCAxOSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIzMTUuOTY1IC0zMDY4LjI2KSI+DQogICAgPGxpbmUgaWQ9ItCb0LjQvdC40Y9fMSIgZGF0YS1uYW1lPSLQm9C40L3QuNGPIDEiIHgxPSIxMC4yNzYiIHkxPSIxMi4yMjUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIzMTYuNjY5IDMwODEuMjg0KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMSIvPg0KICAgIDxsaW5lIGlkPSLQm9C40L3QuNGPXzIiIGRhdGEtbmFtZT0i0JvQuNC90LjRjyAyIiB5MT0iMTIuMjI1IiB4Mj0iMTAuMjc2IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMzE2LjY2OSAzMDY4Ljk2NCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEiLz4NCiAgPC9nPg0KPC9zdmc+DQo=');
	}
}
.decision__slider .slick-next {
	right: -8%;
	&:before {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMS42ODQiIGhlaWdodD0iMjUuOTU0IiB2aWV3Qm94PSIwIDAgMTEuNjg0IDI1Ljk1NCI+DQogIDxnIGlkPSLQodCz0YDRg9C/0L/QuNGA0L7QstCw0YLRjF8yMSIgZGF0YS1uYW1lPSLQodCz0YDRg9C/0L/QuNGA0L7QstCw0YLRjCAyMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM5NzIuODIgLTMwNjguMjYpIj4NCiAgICA8bGluZSBpZD0i0JvQuNC90LjRj18zIiBkYXRhLW5hbWU9ItCb0LjQvdC40Y8gMyIgeTE9IjEyLjIyNSIgeDI9IjEwLjI3NiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzk3My41MjQgMzA4MS4yODQpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxIi8+DQogICAgPGxpbmUgaWQ9ItCb0LjQvdC40Y9fNCIgZGF0YS1uYW1lPSLQm9C40L3QuNGPIDQiIHgxPSIxMC4yNzYiIHkxPSIxMi4yMjUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM5NzMuNTI0IDMwNjguOTY0KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMSIvPg0KICA8L2c+DQo8L3N2Zz4NCg==');
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================================================


//<Адаптив>===========================================================================================================================================
@media (max-width: 1700px) {
	.header__container {
    padding: 0 10px;
	}
}

@media (max-width: 1500px) {
	.header__container {
    max-width: 1440px;
    margin: 0 auto; }
}

@media (max-width: 1440px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 1400px) {
	.competence__person-img {
		flex: 0 0 616px;
		margin-right: 10px;
		}
	.competence__list-internal {
		margin-right: 10px;
	}
	.competence__list-internal:last-child {
		margin-right: 0;
	}
}
	

@media (max-width: 1330px) {
	.logo-icon {
		margin-right: 35px; }
	.menu__list {
    justify-content: space-between; }
	.menu a {
		padding: 0px 15px 8px 0; }
	.header__bg-block-left {
		flex: 0 1 965px; }
	.header__row {
		margin-bottom: 50px; }
}

@media (max-width: 1280px) {
.competence__list-block-item p {
	margin-left: 30px;
	}
	.competence__list-btn {
		justify-content: space-between;
	}
	.competence__btn {
  margin-right: 0; }
}

@media (max-width: 1200px) {
	.competence__list-block-item p {
		margin-left: 15px;
	}
	.competence__btn {
    margin-right: 5px;
	}
	.competence__person-img {
    flex: 0 1 100%;
	}
}

@media (max-width: 1100px) {
	.logo-icon {
    margin-right: 20px; }
	.header__menu {
		margin-right: 10px;
	}
	.menu a {
    padding: 0px 5px 8px 0;
	}
}

@media (max-width: 1024px) {
	.logo-icon {
    margin-right: 15px; }
	.header__menu {
		margin-right: 15px;
	}
	.menu a {
		font-size: 14px;
    padding: 0px 5px 8px 0;
	}
}

@media (max-width: 960px) {
	.header__callback {
    flex: 0 0 180px; }
	.header__callback a {
		font-size: 22px;
		line-height: 20px;
	}
	.header__callback p {
    font-size: 14px; }
}

@media (max-width: 910px) {
	.header__menu {
    margin-right: 0; }
	.menu__list {
  	justify-content: flex-start; }
	.menu a {
		padding: 0px 15px 8px 0; }
}

@media (max-width: 812px) {
	.competence h2 {
    margin: 0 0 25px 0;}
	.competence__row {
    flex-wrap: wrap; }
	.competence__person-img {
		margin: 0 0 25px 0;
	}
	.competence__list-info {
    max-width: 100%; }
}

@media (max-width: 768px) {
	.header {
    padding: 80px 0;
	}
	.header__row {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 68px;
		align-items: center;
		padding: 0 10px;
		background: #669824;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	}
	.icon-menu {
		display: block;
	}
	.menu__body {
		display: none;
	}
	.header__callback {
    margin-right: 20px; }
	.header__callback p {
		display: none;
	}
	.header__bg-block-left {
    display: none; }
		.header__bg-block-right {
			transform-origin: 0% 0%;
			transform: skew(0deg);
			border-radius: 0;
			margin-left: 0;
	}
	.header__bg-block-right img {
    transform: rotate(0deg);
    transform: skew(0deg);
    transform-origin: 0% 0%;
	}
	.header__bg-block-right .nuar_blk {
    display: block;
		background-color: #00000055;
	}
	.header h1 br {
    display: none; }
	.header__title-paragraph br:last-child {
		display: none;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 530px) {
	.competence__list-block-item p {
    margin-left: 10px;
	}
}

@media (max-width: 515px) {
	.page {
    padding: 30px 0 55px 0; }
	.header {
    padding: 63px 0 53px 0;
	}
	.header__row {
    height: 48px; 
	}
	.logo-icon {
		padding-left: 40px;
	}
	.logo-icon:before {
		top: 15%;
    width: 48px;
    height: 45px;
    background-size: 73%;
	}
	.logo-icon P {
    font-size: 14px;
    line-height: 14px;
	}
	.header__callback {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 25px;
	}
	.mob-menu {
    margin-top: 48px; }
	.competence__list-info {
		height: 100%; }
	.competence__list-block {
		flex-direction: column;
	}
	.competence__list-internal {
    flex: 0 1 100%;
		margin-right: 0;
    margin-bottom: 20px; }
	.competence__list-btn {
		flex-direction: column;
	}
	.competence__btn {
		width: 100%;
    margin: 0 0 15px 0;
	}
	.competence__btn:last-child {
		width: 100%;
    margin: 0;
	}
	.competence__list-block-item {
		padding-left: 30px; }
	.competence__list-block-item p {
    margin-left: 0;
	}
}

@media (max-width: 414px) {
	.header h1 {
		font-size: 53px;
    line-height: 50px;
	}
	.header__title-paragraph br {
		display: none;
	}
	.header__title-paragraph {
    margin-bottom: 35px;
	}
	.header__btn {
    width: 100%;
	}
}

@media (max-width: 380px) {
	.competence h2 {
    font-size: 30px;
	}
}